
manifest {

    author = 'Adrià Auladell'
    name = 'noname'
    homePage = ''
    description = 'Small script to obtain all hits from an specific gene of interest in GTDB'
    mainScript = 'retrieve_genes_specific_ko.nf'

}


params {

    genomes = "/scratch/data1/aauladell/toy_gtdb_genomes/*.fna"
    hmm = "/scratch/data1/aauladell/databases/kofam_hmm_profiles/profiles/K08929.hmm"
    threshold = 394.57
    outdir = "/home/aauladell/projects/obtain_all_genes_specific_ko/results"

}
